


/*版心*/
.jd_container{
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    background: pink;
    height: 1000px;
}


/*顶部搜索*/

.jd_search{
     width: 100%;
     height: 40px;
     position: fixed;
     top: 0;
     left: 0;

 }

.jd_search .cearch_box {
    width: 100%;
    height: 40px;
    max-width: 640px;
    margin: 0 auto;
    background: red;
    position: relative;
}

.jd_search .cearch_box .logo{
    width: 60px;
    height: 32px;
    position: absolute;
    top: 8px;
    left: 8px;
    background: url(../images/sprites.png) no-repeat 0 -109px / 200px 200px;
}
.jd_search .cearch_box form{
    width: 100%;
    padding-left: 70px;
    padding-right: 50px;
    position: relative;
}
.jd_search .cearch_box form input{
    width: 100%;
    height: 30px;
    margin-top: 5px ;
    border-radius: 15px;

}
.jd_search .cearch_box form .icon_search{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 80px;
    background: url(../images/sprites.png) no-repeat -60px -110px / 200px 200px;
}
.jd_search .cearch_box .login{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}