


/*版心*/
.jd_container{
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    background: #ededed;

}


/*顶部搜索*/

.jd_search{
     width: 100%;
     height: 40px;
     position: fixed;
     top: 0;
     left: 0;
    z-index: 1000;

 }

.jd_search .cearch_box {
    width: 100%;
    height: 40px;
    max-width: 640px;
    margin: 0 auto;
    background:rgba(201,21,35,0);
    position: relative;
}

.jd_search .cearch_box .icon_logo{
    width: 60px;
    height: 32px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-position:  0 -109px
}
.jd_search .cearch_box form{
    width: 100%;
    padding-left: 70px;
    padding-right: 50px;
    position: relative;
}
.jd_search .cearch_box form input{
    width: 100%;
    height: 30px;
    margin-top: 5px ;
    border-radius: 15px;

}
.jd_search .cearch_box form .icon_search{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 80px;
    background-position:  -60px -110px;
}
.jd_search .cearch_box .login{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

/*轮播图*/

.jd_banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.jd_banner ul:first-child{
    width: 1000%;
    transform: translateX(-10%);
}
.jd_banner ul:first-child li{
    width: 10%;
    float: left;
}
.jd_banner ul:first-child li a{
    width: 100%;
    display: block;
}
.jd_banner ul:first-child li img{
    width: 100%;
    display: block;
}

.jd_banner ul:last-child{
    width: 88px;
    position: absolute;
    left:50%;
    bottom: 6px;
    margin-left: -44px;
}
.jd_banner ul:last-child li{
    width: 6px;
    height: 6px;
    float: left;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-left: 5px;
}
.jd_banner ul:last-child li:first-child{
    margin-left: 0;
}
.jd_banner ul:last-child li.now{
   background: #fff;
}



/*导航*/

.jd_nav{
    width: 100%;
    background: #fff;
}
.jd_nav ul{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.jd_nav ul li{
    width: 25%;
    float: left;
    /*padding: 5px 0;*/


}
.jd_nav ul li a{
    width: 100%;


}
.jd_nav ul li a img{
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 60px;
}
.jd_nav ul li a p{
    padding: 5px 0;
    font-size: 12px;
}


/*产品模板*/

.jd_product{
    width: 100%;
    padding: 0 5px;
}
.jd_product .jd_product_box{
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 0 2px #ccc;
}
.jd_product .jd_product_box .tit{
    height: 35px;
    border-bottom: 1px solid #ccc;
}
.jd_product .sk .tit{
    border-bottom: none;
}
.jd_product .jd_product_box .cont{
    width: 100%;
}
.jd_product .jd_product_box .cont a{
    width: 50%;
}
.jd_product .jd_product_box .cont a img{
    display: block;
    width: 100%;
}

.jd_product .sk .tit .icon{
    width: 30px;
    height: 30px;
    background: url(../images/seckill-icon.png) no-repeat center /20px 20px;
}
.jd_product .sk .cont{
    width: 100%;
}
.jd_product .sk .cont ul{
    width: 100%;
    padding: 10px 0;
}
.jd_product .sk .cont ul li{
    width: 33.33%;
    float: left;
    text-align: center;
    font-size: 12px;
}
.jd_product .sk .cont ul li a{
    width: 100%;
    display: block;
    border-right: 1px solid #ccc;
}
.jd_product .sk .cont ul li:last-child a{
    border: none;
}
.jd_product .sk .cont ul li a img{
    display: block;
    width: 60%;
    margin: 0 auto;


}
.jd_product .sk .cont ul li p{
    color: #d8505c;
    padding: 7px 0;
}
.jd_product .sk .tit .name{
    color: #d8505c;
    margin: 8px 0 0 5px;
}
.jd_product .sk .tit .time{
    color: #fff;

    margin: 10px 0 0 10px;
}
.jd_product .sk .tit .time span{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 18px;
    background: #000;
    text-align: center;
}
.jd_product .sk .tit .time span:nth-child(3n){
    background: #fff;
    color: #000;
    width: 2px;
}
.jd_product .sk .tit div:last-child{
    margin-top: 5px;
}
.jd_product .jd_product_box .tit h3{
    font-weight: 400;
   padding-top: 6px;
}
.jd_product .jd_product_box .tit h3::before{
    content: " ";
    display: inline-block;
    width: 3px;
    height: 12px;
    background: #d8505c;
  margin: 4px 10px 0 10px ;
}